<div id="map-container" style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= render 'layouts/enter_location' %>

<button onClick='togglePlaylistMarkers()'>
	<div id="toggle-playlists">
		Hide Playlists
	</div>
</button>

<script type="text/javascript">
  initializeMap('<%= @playlists %>');
	addPlaylistMarkers('<%= @playlists %>');
</script>
