var map;
var infoWindow;

var playlistMarkers = [];

function initializeMap() {
	infoWindow = new google.maps.InfoWindow({
    content: ""
	});

	map = new google.maps.Map(document.getElementById('map'), {
	  center: {lat: -34.06898, lng: -118.44292},
	  zoom: 15
	});
  
  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      $('#latitude').val(position.coords.latitude);
      $('#longitude').val(position.coords.longitude);
      map.setCenter(pos);
      infoWindow.setPosition(pos);
			infoWindow.setContent('<div class="title">' +
												'<h2>Your Current Location</h2>' +
												'</div>' +
												'<div class="notLocation">' +
												'Not your location? You can enter your address here to get more accurate results.' +
												'</div>');

      var marker = new google.maps.Marker({
        position: pos,
        map: map,
        title: "Your Location",
        icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
			});

      marker.addListener('click', function() {
				infoWindow.open(map, marker);
      });
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function addPlaylistMarkers(playlists) {
	playlists = JSON.parse(playlists.replace(/(&quot\;)/g,"\"").replace(/(&gt\;)/g,"\""))
	for (var i = 0; i < playlists.length; i++)
  {
    var pos = {
      lat: parseFloat(playlists[i]["lat"]),
      lng: parseFloat(playlists[i]["lng"])
    };
    var marker = new google.maps.Marker({
        position: pos,
        map: map,
        title: playlists[i].title
    });
    
    playlistMarkers.push(marker);

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
            infoWindow.setContent('<div id="markerTitle">'+
                                    marker.title +
                                    '</div>' +
                                    '<a href=' + 
                                    getPlaylistUrl(i) +
                                    '>Go to Playlist</a>');
            infoWindow.open(map, marker);
        }
    })(marker, i));
  }
}

function getPlaylistUrl(p_id) {
  var baseString = "/playlists"
  return baseString + "/" + (p_id + 1)
}


function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	var marker = new google.maps.Marker({
    position: pos,
    map: map
  });
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation. Please Enter your address to see playlists near you.' +
                        	'<button onclick="openDialog()" style="margin: 0 auto;" id="enter-location">Enter Location</button>');
	infoWindow.open(map, marker);
}

function generateCoordinates(dialog) {
	var address = document.getElementById("address").value;
  var city = document.getElementById("city").value;
  var state = document.getElementById("state").value;
  var zip = document.getElementById("zip").value;
  var fullAddress = address + ", " + city + " " + state + ", " + zip
	var geocoder = new google.maps.Geocoder();
	var address = fullAddress;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
  dialog.dialog( "close" );
}

function openDialog() {
	var dialog = $( "#dialog-form" );
	dialog.dialog( "open" );
}
