<div style="margin-top: -60px;" class="center jumbotron">
	<%= image_tag "intro.jpg", class: "intro" %>
	<div class="introcontent">
		<h1>Welcome to Sauce Kitchen</h1>
		<p>A damn fine music exploration and collaboration application built for you!</p>
		<% if current_user.nil? %>
			<%= link_to "Sign Up and Start Cookin' Beats", signup_path, class: "btn btn-primary btn-lg" %>
		<% end %>
		<p class="alreadylogged"> Already have an account? Log in <%= link_to "here", login_path %> </p>
	</div>
	<div class="saucinlogo">
		<%= image_tag "saucinwhitethumb.png" %>
	</div>
</div>
