<% if (@isPlaying && @user == @playlist_owner) %>
	<div id="dz-root"></div>
	<div id="player" style="width:100%; padding-top:10px;" align="center"></div>
<% elsif (@isPlaying) %>
	<div id="now_playing" class="center">
		<h3>Now Playing</h3>
		<p id="current_song"><% @playlist.current_song_title %> - <% @playlist.current_song_artist %></p>
	</div>
	<div hidden id="dz-root"></div>
	<div hidden id="player" style="width:100%; padding-top:10px;" align="center"></div>
<% else %>
	<div hidden id="dz-root"></div>
	<div hidden id="player" style="width:100%; padding-top:10px;" align="center"></div>
<% end %>
