<div class="center">
	<% if (@user && (@user.id == @playlist_owner.id)) %>
		<h1 id="title" class="ds"><%= dynaspan_text_field(@playlist, :title) %></h1>
	<% else %>
		<h1 id="title" class="nds"><%= @playlist.title %></h1>
	<% end %>
</div>
