<h1 class="center"><%= @user.username %>'s Playlists</h1>
<ul>
	<% @playlists.each do |playlist| %>
		<li> <%=link_to playlist.title, playlist %> </li>
		<!-- <li> <%= playlist.title %> </li> -->
	<% end %>
</ul>