<h1 class="center"><%= @user.username %>'s Playlists</h1>
<ul>
	<% cache(cache_key_for_user_playlists_table) do %>
		<% @playlists.each do |playlist| %>
			<% cache(cache_key_for_user_playlists(playlist)) do %>
				<li> <%=link_to playlist.title, playlist %> </li>
				<!-- <li> <%= playlist.title %> </li> -->
			<% end %>
		<% end %>
	<% end %>
</ul>